* {

    color: black;
    text-decoration: none;
}
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}

.header {


}
.header :focus, .header:active {
    border: 1px #E7E9FC
}
.header :hover {
    border: 2px #E7E9FC
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;


}
.logo span {
    color: #2e2f42;
}

.nav {

}

.nav ul {

    font-weight: 500;

}
.nav li {
    list-style-type: none;
}
.nav-li {
    color:#2E2F42;
}
.nav-li:hover, .nav-li:focus {
    color: #404bbf;
}

.address-a {
    font-style: normal;
    font-weight: 400;
    color:#434455;

}
.address-a:hover, .address-a:focus {
    color:#404bbf;
}
.address ul {

}
.address li {
    list-style-type: none;
}

.hero {
    height: 600px;
    background-color: #2E2F42;
    text-align: center;

}

.hero-h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: white;
    letter-spacing: 0.02em;
}

.btn-hero-img {
    color: white;
    background-color: #4D5AE5;

}

